/SusVar/SustituidorVariables/nbproject/
/SusVar/SustituidorVariables/target/
/SusVar/SustituidorVariables/objetos.dat
/SusVar/SustituidorVariablesView/objetos.dat
/SusVar/SustituidorVariablesView/sustituidor.trace.db
/SusVar/SustituidorVariablesView/sustituidor.mv.db

/SusVar/SustituidorVariablesView/target/
